{
  "name": "{{ name }}",
  "version": "1.0.0",
  "domain": "{{ domain }}",
  "author": "{{ author }}",
  "description": "{{ description }}",
  "requires_auth": false,
  "tags": ["general"],
  "min_platform_version": "1.0.0",
  "dependencies": []
}
